.entry-table {
    th, td {
        vertical-align: top;
    }
}

.address {
    margin-bottom: 1em;
    font-size: 12px;
    
    &__type {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    
    &__text {
        font-family: sans-serif;
    }
}